{% extends "app/base.html" %}
{% load static %}
    {% block title %}
    Log In
    {% endblock title %}

    
      {% block content %}

      <div class="card bg-body-secondary p-5">
        {% for message in messages %}
        <!--=========  Alert message from bootstrap  ========== -->
        <div class="alert alert-{{message.tags}} alert-dismissible fade show" role="alert">
        <strong>{{message}}</strong>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="close"></button>
        </div>
        
        {% endfor %}
        <form action="/auth/login/" method="post">
        {% csrf_token %}
        <h1 class="text-dark fs-2"> Log In</h1>
        <label for="email" class="p-2">Email</label>
        <div class="form-group">
            <input type="email" class="form-control p-2" name="email" id="email" required>
        </div>
        <label for="pass1">Password</label>
        <div class="form-group">
            <input type="password" class="form-control p-2" name="pass1" id="pass1" required>
        </div>
        <button class="btn-outline-dark" type="submit">Sign In</button>
        <br>
        <br>
        Create Account? <a href="/auth/signup/"></a>

    </form>

      {% endblock content %}

      {% block body %}
      
      {% endblock body %}
</body>

</html>